/* Палитра
color: #212121; цвет основного текста
color: #757575; цвет текста второстепенный
color: #2196F3; цвет акцента
color: #FFFFFF; для адреса
color: rgba(255, 255, 255, 0.6); для ссылок в футере
color: #000000; цвет лого 2й части

background: #FFFFFF; основной
background: #2F303A; цвет фона hero и футера
background: #F5F4FA; цвет фона секции наша команда
 */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --section-background-color: #f5f4fa;
  --portfolio-card-border-color: #eeeeee;
  --header-border-color: #ececec;
  --clients-icon: #afb1b8;
}

/* Main features */

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;

  /* outline: 1px solid tomato; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--logo-color);

  /* background-color: teal; */
}
.logo span {
  color: var(--primary-accent-color);
}

.logo:focus,
.logo:hover {
  cursor: pointer;
}

/* Navigation */
.header .container {
  display: flex;
  align-items: center;

  /* background-color: orange; */
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.site-nav {
  display: flex;
  align-items: center;
}
.site-nav .logo {
  margin-right: 93px;
}

.main-nav {
  display: flex;
}

.main-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.main-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  /* background-color: turquoise; */
}
.main-nav a:visited {
  color: var(--primary-text-color);
}

.main-nav .link:hover,
.main-nav .link:focus,
.contacts-nav .link:focus,
.contacts-nav .link:hover {
  color: var(--primary-accent-color);
  cursor: pointer;
}

.main-nav .current .link {
  color: var(--primary-accent-color);
}
.main-nav .current .link:hover {
  cursor: pointer;
}

/* Contacts navigation */
.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav .link {
  display: block;
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.icon-email {
  margin-right: 10px;
  fill: currentColor;
}

.icon-phone {
  margin-right: 10px;
  fill: currentColor;
}

/* Main page */

/* Hero */
.hero {
  padding: 200px 0;
  text-align: center;
  background-color: var(--secondary-background-color);

  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-hero-photo-otimized.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-accent-color);
}

.hero-button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  min-width: 200px;
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:focus,
.hero-button:hover {
  color: var(--primary-accent-color);
  background-color: var(--primary-background-color);
}

/* Common section features */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding-bt {
  padding-bottom: 0;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Section Our advantages  */
.advantages.container {
  display: flex;
}

.advantages .item {
  width: calc((100% - 3 * 30px) / 4);
}

.advantages .item:not(:last-child) {
  margin-right: 30px;
}

.advantages .title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
.thumb {
  display: flex;
  background-color: var(--section-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.thumb > .icon {
  width: 70px;
  height: 70px;
}

/* Section What we do  */

.images.list {
  display: flex;
}

/* .images img {
  border: 1px solid transparent;
} */

.images > .item {
  display: block;
  width: calc((100% - 2 * 30px) / 3);
}

.images > .item:not(:last-child) {
  margin-right: 30px;
}

/* .works a > img:hover,
.works a > img:focus {
  border-style: solid;
  border-width: 1px;
  border-color: var(--primary-accent-color);
} */

/* Section Our team */
.team {
  background-color: var(--section-background-color);
}
.team-memeber.list {
  display: flex;
}

.team-memeber > .card {
  width: calc((100% - 3 * 30px) / 4);
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-memeber > .card:not(:last-child) {
  margin-right: 30px;
}

.team-memeber .card-info {
  display: inline-block;
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.team-memeber .title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.clients .list {
  display: flex;
}

.client-thumb {
  width: calc((100% - 5 * 30px) / 6);
}

.client-thumb:not(:last-child) {
  margin-right: 30px;
}
.client-thumb > .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  color: var(--clients-icon);
  border: 1px solid var(--clients-icon);
  border-radius: 4px;
}

.client-thumb > .link:hover {
  color: var(--primary-accent-color);
  border: 1px solid var(--primary-accent-color);
  cursor: pointer;
}

.client-thumb .icon {
  fill: currentColor;
}

/* Footer */
.footer {
  background-color: var(--secondary-background-color);
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--secondary-accent-color);

  /* background-color: teal; */
}

.footer-info .item {
  display: block;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--secondary-accent-color);
}
.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--footer-link-color);
}

.footer-info > .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact:focus,
.footer-contact:hover {
  color: var(--primary-accent-color);
}

/* Portfolio page */
/* Filter */
.portfolio.container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter.list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--primary-accent-color);
}

/* Examples */
.work-examples.list {
  display: flex;
  flex-wrap: wrap;
}

.example-card {
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.example-card:nth-child(3n) {
  margin-right: 0;
}

.example-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.example-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.example-card .card-info {
  width: 370px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid var(--portfolio-card-border-color);
  border-right: 1px solid var(--portfolio-card-border-color);
  border-bottom: 1px solid var(--portfolio-card-border-color);
}

.example-card .title {
  margin-bottom: 4px;

  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.example-card p {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
